  .date-range-picker {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .date-input {
    /* border: 1px solid #ccc; */
    border-radius: 4px;
    padding: 5px;
    font-size: 14px;
  }
    